<!DOCTYPE html>
<html>
<head>
    <script src="/js/socket.io-1.0.6.js"></script>
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <title>Node Jams</title>
</head>
<body>
   <div class"pure-g">
        <div class="pure-u-1-3">
            <div class="pure-u-1-5"><button class="pure-button oscType-singleon"  id="sine">Sine</button></div>
            <div class="pure-u-1-5"><button class="pure-button oscType-singleoff"id="square">Square</button></div>
            <div class="pure-u-1-5"><button class="pure-button oscType-singleoff"id="sawtooth">Sawtooth</button></div>
            <div class="pure-u-1-5"><button class="pure-button oscType-singleoff"id="triangle">Triangle</button></div>
        </div>
        <div class="pure-u-1-3">
            <div class="pure-u-1-5"><button class="pure-button recordManager-toggleoff"  id="record" data-on="Stop" data-off="Record" data-ison="false">Record</button></div>
            <div class="pure-u-1-5"><button class="pure-button recordManager-toggleoff" id="play" data-ison="false">Play</button></div>
        </div>
        
   </div>
   <div class"pure-g">
        <div class="pure-u-1-3">
            <div class="sliderContainer">
                <label> Detune </label>
                <input type="range" id="detune-slider" min="-150" max="150" class="v-slider"/>
            </div>
        </div>
        <div class="pure-u-2-3 mrg-top-1em">
            <div class="pure-u-1-8"><button class="pure-button trk-toggleon" data-ison="true" id="trk1">Track 01</button></div>
            <div class="pure-u-1-8"><button class="pure-button trk-toggleoff" data-ison="false" id="trk2">Track 02</button></div>
            <div class="pure-u-1-8"><button class="pure-button trk-toggleoff" data-ison="false" id="trk3">Track 03</button></div>
            <div class="pure-u-1-8"><button class="pure-button trk-toggleoff"  data-ison="false" id="trk4">Track 04</button></div>
            <div class="pure-u-1-8"><button class="pure-button trk-toggleoff" data-ison="false" id="trk5">Track 05</button></div>
            <div class="pure-u-1-8"><button class="pure-button trk-toggleoff" data-ison="false" id="trk6">Track 06</button></div>
            <div class="pure-u-1-8"><button class="pure-button trk-toggleoff" data-ison="false" id="trk7">Track 07</button></div>
            <div class="pure-u-1-8"><button class="pure-button trk-toggleoff" data-ison="false" id="trk8">Track 08</button></div>
        </div>
   </div>
   </br>
   <div id="piano-insert"></div>
   </br>
   <div class="consoleContainer">
        <h2> Console </h2>
        <div class="consoleContent">
        <ul id="commands"></ul> 
        </div>
   </div> 
<script type="application/javascript" src="/js/index.js"></script>
</body>
</html>
